// -----------------------------------------------------------------------------
// This file contains all styles related to the dialog component.
// -----------------------------------------------------------------------------

img.DragAndDrop {
  width: 80%;
  display: block;
  margin: auto;
  padding: 20px 0 40px;
}

span.instructions {
  text-align: center;
}