.App {
  text-align: left; }

p {
  font-family: Roboto, Helvetica, sans-serif; }

.App-logo {
  height: 40px; }

.App-header {
  background-color: #2791AC;
  height: 80px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

/*
Spinning Logo

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
