/**
 * Basic typography style for copy text
 */

$font-stack: Roboto, Helvetica, sans-serif;
$primary-color: #2791AC;
$secondary-color: #5FD0EC;
$white: #FFFFFF;


body {
  color: $text-color;
  font: normal 100% / 1.4 $text-font-stack;
}

p {
  font-family: $font-stack;
}