// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.App-header {
  background-color: $primary-color;
  height: 80px;
  padding: 20px;
  color: white;

  .App-logo {
    height: 40px;
    float: left;
  }

  .Account-Info {
    float: right;
    span {
      font-size: 28px;
      font-weight: 100;
      top: -14px;
      position: relative;
      padding-right: 10px;
      opacity: .5;
    }
    .Avatar {
      height: 50px;
    }
  }
}

.App-intro {
  font-size: large;
}

.Header-Tabs {
  width: 100%;
  background-color: $primary-color;
  height: 80px;
  padding: 20px;
  position: absolute;

  ul {
    padding: 8px;
    width: 55%;
    float: left;
    li {
      color: $white;
      display: inline;
      padding: 10px 5%;
      list-style: none;

      &:hover {
        border-bottom: solid 6px #3d798c;
      }

      &.active {
        border-bottom: solid 6px $secondary-color;
      }
    }
  }

  .FAB {
    float: right;
    top: 38px;
    position: relative;

    a {
      span {

      }
      img.icon-button {
        position: relative;
        padding-left: 10px;
        top: 5px;
      }
    }
  }
}

.emptyState {
  display: block;
  top: 180px;
  margin: auto;
  position: relative;
  width: 100%;

  img.QuixCard {
    display: block;
    margin: auto;
    width: 95%;
  }
}

@media only screen and (max-width : 600px) {
  .Header-Tabs {
    ul {
      width: 75%;
    }
    .FAB {
      a {
        span {
          display:none;
        }
        img.icon-button {
          position: relative;
          padding-left: 0px;
          top: 5px;
          width: 30px;
        }
      }
    }
  }
}