// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.App-logo {
  height: 40px;
}

.App-header {
  background-color: $primary-color;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
